@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Saira+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: bellota, sans-serif;
    font-weight: 600;
    color: #3a3a3a
}

body {
    background-color: antiquewhite;
}

/* headings and logo */

h1,
h2,
h3,
h4 {
    font-family: bellota, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: antiquewhite
}

/* hero image */

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#hero-image {
    height: 300px;
    width: 100%;
    background: url(../images/pexels-stephen-hardy-7061817.jpg) no-repeat center center;
    background-blend-mode: overlay;
    background-color: #444955;
    background-size: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hero-image h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
}

#hero-image h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}

/* navigation links */

#menu-outer {
    width: 60%;
    height: 75px;
    margin-bottom: 100px;
    margin-left: 20%;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 145px;
    margin-top: 25px;
    color: antiquewhite;
}

/* main page flex */

.flex-mainpage {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.flex-item {
    background-color: #444955;
    padding: 5px;
    margin: 50px 10px;
    width: 50%;
    height: 250px;
    margin-top: 10px;
    line-height: 30px;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    min-width: 0;
}

#home-outer {
    width: 50%;
    height: 400px;
}

#home-image {
    height: 300px;
    width: 100%;
    margin-left: 50%;
    background: url(../images/karthik-balakrishnan-NrS53eUKgiE-unsplash.jpg) no-repeat center center;
    background-size: 100%;
    border-radius: 10px;
}


/* footer */

footer {
    width: 100%;
    height: 300px;
    background-color: #444955;
}

#open-hours {
    margin-left: 25px;
    margin-bottom: 30px;
}

#social li {
    float: right;
    list-style-type: none;
    margin-right: 20%;
    margin-top: 50px;
    color: antiquewhite;
}