@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Saira+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: saira-condensed, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* headings and logo */

h1,
h2 {
    font-family: bellota, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

/* navigation links */

.welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 100%;
}

#nav-banner {
    background-color: #9BC1BC;
    height: 150px;
    border: solid #5CA4A9 5px;
    border-radius: 30px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 250px;
    display: block;
}

/* background */

body,
html {
    height: 100%;
}