@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Saira+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: bellota, sans-serif;
    font-weight: 600;
    color: #3a3a3a
}

body {
    background-color: antiquewhite;
}

/* headings and logo */
/* all headings were styled the same color, size and to uppercase to allow seamless design */
h1,
h2,
h3,
h4 {
    font-family: bellota, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: antiquewhite
}

/* hero image */

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

/* styling for hero image, an overlay was chosen to give a slight muted look to the image, which would allow the text to pop,
 but also be legible on the image, this would then set the color scheme for the website. */
#hero-image {
    height: 300px;
    width: 100%;
    background: url(../images/pexels-stephen-hardy-7061817.jpg) no-repeat center center;
    background-blend-mode: overlay;
    background-color: #444955;
    background-size: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hero-image h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
}

#hero-image h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}

/* navigation links */

#menu-outer {
    width: 60%;
    height: 75px;
    margin-bottom: 100px;
    margin-left: 20%;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 145px;
    margin-top: 25px;
    color: antiquewhite;
}

/* styling for navigation links */

a:link {
    text-decoration: none;
}

a:visited {
    color: antiquewhite;
}

a:hover {
    background-color: #444955;

}

.active {
    border-bottom: 2px solid antiquewhite;
}

/* styling for all flexboxes*/

.flex-container {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.flex-item {
    background-color: #444955;
    padding: 5px;
    margin: 50px 10px;
    width: 50%;
    height: 250px;
    margin-top: 10px;
    line-height: 30px;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    min-width: 0;
    border-radius: 10px;
}

/* events information */

#event-coming-soon {
    margin-top: 30px;
}

#about-us img {
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

/* stlying for menu page/images */

#cafe img {
    max-width: 75%;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#cafe h3 {
    color: #444955;
    text-align: center;
}

/* styling for reviews page */

/* reviews heading */

#reviews-heading h2 {
    color: #444955;
    text-align: center;
    margin-top: 10px;
}

/* flex styling for reviews, a separate container was made to allow for a different design approach */

.flex-review-top {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.flex-review-bottom {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.flex-review {
    background-color: #444955;
    height: 200px;
    width: 400px;
    border-radius: 30px;
    margin: 20px;
}



/* footer */

footer {
    width: 100%;
    height: 350px;
    background-color: #444955;
}

#open-hours,
h3,
h4 {
    text-align: center;
    color: antiquewhite;
    margin-bottom: 10px;
    padding-top: 10px;
}

#social li {
    float: right;
    list-style-type: none;
    margin-right: 20%;
    margin-top: 50px;
}

#social i {
    color: antiquewhite;
}